In [1]:
import xarray as xr

In [2]:
ds = xr.open_dataset('/home/fiona/radar_data/vpi/test_5min/20180801T0000_to_20180802T0000/vpi_NLDHL.nc')

In [5]:
ds.ff.to_pandas()

time
2018-08-01 00:00:05    2.540677
2018-08-01 00:05:04    2.569269
2018-08-01 00:10:04    2.675847
2018-08-01 00:15:04    2.630647
2018-08-01 00:20:04    2.647275
                         ...
2018-08-01 23:40:04    4.525100
2018-08-01 23:45:04    4.666323
2018-08-01 23:50:04    4.532523
2018-08-01 23:55:04    4.641276
2018-08-02 00:00:04    4.568428
Length: 288, dtype: float32

In [17]:
ds = xr.open_dataset('/home/fiona/radar_data/vpi/test_no_delta/20180801T0000_to_20180802T0000/vpi_BEJAB.nc')

In [18]:
ds

<xarray.Dataset>
Dimensions:   (time: 289)
Coordinates:
  * time      (time) datetime64[ns] 2018-08-01T00:00:05 ... 2018-08-02T00:00:05
Data variables:
    solarpos  (time) float32 ...
    mtr       (time) float32 ...
    vid       (time) float32 ...
    vir       (time) float32 ...
    rtr       (time) float32 ...
    mt        (time) float32 ...
    rt        (time) float32 ...
    ff        (time) float32 ...
    dd        (time) float32 ...
    u         (time) float32 ...
    v         (time) float32 ...
    height    (time) float32 ...
Attributes:
    source:     BE/JAB
    lat:        51.191700000000004
    lon:        3.0642000000000005
    fillvalue:  1e+32
    history:    F. Lippert, Wed Nov 11 12:10:39 2020

In [10]:
ds.ff.to_pandas()

time
2018-08-01 00:00:35    10.378494
2018-08-01 00:15:35    10.473416
2018-08-01 00:30:35    10.991947
2018-08-01 00:45:35     8.303300
2018-08-01 01:00:35     9.700165
                         ...
2018-08-01 23:00:35     4.152781
2018-08-01 23:15:35     4.223816
2018-08-01 23:30:35     5.070352
2018-08-01 23:45:35     6.248383
2018-08-02 00:00:35     6.465004
Length: 97, dtype: float32